*{
    background-color: rgb(252, 234, 209);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}
.container #hex-container, .container #rgb-container{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}
.container #hex-container{
    background-color: green;
}
 .container #rgb-container{
    background-color: rgb(127, 144, 127);
 }

#hex-container div{
    font-size: 2rem;
    padding:10px 20px;
    border-radius: 12px;
    letter-spacing: 5px;
}
#hex-container button ,.button{
    border:none;
    background-color: aquamarine;
    color:black;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}
#rgbCopy{
    background-color: transparent;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
#rgbColorContainer{
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 2rem
}
#rgbColorContainer span{
    font-size: 1.8rem
}
.child{
    padding: 20px 30px;
    border-radius: 12px;
}
#red,#blue,#green{

}